.hero{
    background-image: url("images/dev.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.packages{
background-color: #f2fbf7; 
    
  
}

